@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  height: 59px;
}

.brand-images {
  display: flex;
  align-items: center;
}

.brand-images img:nth-of-type(2) {
  margin-left: 5px;
}

nav {
  display: none;
}

.login-btn, .demo-btn {
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  width: 151px;
  height: 42px;
}

.login-btn {
  color: #0688FA;
  background: white;
  border-color: #0688FA;
}

.demo-btn {
  background: #0688FA;
  mix-blend-mode: normal;
  color: white;
}

.intro-section {
  color: #002240;
  display: grid;
  grid-row-gap: 28px;
  font-size: 16px;
  line-height: 24px;
  padding: 1.5rem;
}

.hero-img {
  width: 100%;
  /* margin-bottom: 1.5rem; */
}

.intro-title {
  font-size: 32px;
}

.intro-body p {
  margin-bottom: 26px;
}


/* Culture */
.our-culture {
  padding: 1.5rem;
  display: grid;
  grid-row-gap: 28px;
  font-size: 16px;
  line-height: 24px;
}

.culture-title, .culture-desc h3 {
  color: #002240;
}

.culture-desc h3 {
  padding: 0.5rem 0;
}

.culture-desc p {
  color: #537089;
}

.culture-footer p {
  color: #002240;
  margin: 1.2rem 0;
}

.join-btn {
  width: 100%;
  height: 49px;
}


/* Progress */

/* Office */
.our-offices {
  display: grid;
  padding: 1.5em;
  text-align: center;
}

.office-desc {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  width: 17rem;
  height: 12.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
}

.our-investors {
  display: grid;
  padding: 1.5rem;
  text-align: center;
}

.investor {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  width: 17rem;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.future {
  display: grid;
  padding: 1.5rem;
  text-align: center;
  width: 20rem;
  height: 23.6rem;
  background: #329DFA;
  border-radius: 5px;
}

/* BOTTOM NAV */
.bottom-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "logo logo"
    "why-saleswhale product"
    "company contact";
  padding: 1.5rem;
  grid-column-gap: 1.3rem;
  grid-row-gap: 1.75rem;
}

.bottom-nav ul {
  list-style-type: none;
}

.bottom-nav .logo {
  grid-area: logo;
}

.why-saleswhale {
  grid-area: why-saleswhale;
}

.product {
  grid-area: product
}

.company {
  grid-area: company;
}

.contact {
  grid-area: contact;
}

                            /* TABLET */
@media (min-width: 768px) {
  header {
    padding: 3rem;
  }

  .intro-section {
    padding: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.5rem;
    grid-template-areas: 
      "hero-img hero-img"
      "title body";
  }

  .hero-img {
    grid-area: hero-img;
  }

  .intro-title {
    /* font-size: 32px; */
    grid-area: title;
  }

  .intro-body {
    grid-area: body;
  }


  /* Culture */
  .our-culture {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "culture-title culture-title culture-title"
    "tile-1 tile-2 tile-3"
    "culture-footer culture-footer culture-footer";
    grid-column-gap: 1.5rem;
    padding: 3rem;
  }

  .culture-title {
    grid-area: culture-title;
    margin: auto;
    text-align: center;
    width: 65%;
  }

  .our-culture .tile-1 {
    grid-area: tile-1;
  }

  .our-culture .tile-2 {
    grid-area: tile-2;
  }

  .our-culture .tile-3 {
    grid-area: tile-3;
  }

  .culture-footer {
    grid-area: culture-footer;
    width: 65%;
    margin: auto;
    text-align: center;
  }

  .join-btn {
    width: 10.4rem;
    height: 2.6rem;
  }

  /* Offices */
  .our-offices {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "title title"
      "office-1 office-2"
    ;
    padding: 3rem;
  }

  .offices-title {
    grid-area: title;
    margin: auto;
  }

  .office-tile-1 {
    grid-area: office-1;
    margin:auto
  }

  .office-tile-2 {
    grid-area: office-2;
    margin: auto;
  }

  /* Investors */
  .our-investors {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "title title"
      "investor-1 investor-2"
      "investor-3 investor-4";
    text-align: center;
  }

  .investors-title {
    grid-area: title;
    margin: auto;
  }

  .investor-1 {
    grid-area: investor-1;
  }

  .investor-2 {
    grid-area: investor-2;
  }

  .investor-3 {
    grid-area: investor-3;
  }

  .investor-4 {
    grid-area: investor-4;
  }

  /* FUTURE */
  .future {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title title"
      "btn-1 btn-2";
    width: 45.25rem;
    height: 13.4rem;
  }

  .future-title {
    grid-area: title;
  }

  .white-btn {
    grid-area: btn-1;
  }

  .blue-btn {
    grid-area: btn-2;
  }

  .bottom-nav {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
     "logo why-saleswhale product"
     "logo company contact";
  }

}



                                /* DESKTOP */
@media (min-width: 1440px) {
  header {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "brand nav";
    padding: 5rem;
  }

  .brand-images {
    grid-area: brand
  }

  nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
  }

  nav ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 48%;
  }

  nav li{
    display: inline-block;
  }

  nav li a {
    color: #002240;
    text-decoration: none;
  }
/* Remember to harmonize CSS for buttons */

  .intro-section {
    padding: 5rem;
  }

  .bottom-nav {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo why-saleswhale product company contact";
  }
}
