@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  padding: 1.6rem;
  display: grid;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.9rem;
}

h3 {
  font-size: 1.625rem;
  line-height: 2rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.5rem;
}

h5 {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

header {
  grid-template-columns: 1fr;
  height: 59px;
}

.brand-images {
  display: flex;
  align-items: center;
}

.brand-images img:nth-of-type(2) {
  margin-left: 5px;
}

nav {
  display: none;
}

.login-btn, .demo-btn {
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  width: 151px;
  height: 42px;
}

.blue-btn {
  background: #0688FA;
  color: #FFFFFF;
  mix-blend-mode: normal;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
}

.white-btn {
  background: #FFFFFF;
  mix-blend-mode: normal;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

/* INTRO */

.intro-section {
  color: #002240;
  grid-row-gap: 28px;
  font-size: 16px;
  line-height: 24px;
}

.hero-img {
  width: 100%;
}

.intro-title {
  font-size: 32px;
}

.intro-body p {
  margin-bottom: 26px;
}


/* Culture */
.our-culture {
  grid-row-gap: 28px;
  font-size: 16px;
  line-height: 24px;
}

.culture-title, .culture-desc h4 {
  color: #002240;
}

.culture-title h2, .progress-title h2, .offices-title, .investors-title, .culture-desc h4 {
  padding: 1rem 0;
}

.culture-desc p {
  color: #537089;
}

.culture-footer p {
  color: #002240;
  margin: 1.2rem 0;
}

.join-btn {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.25rem;
  height: 3rem;
}


/* Progress */

/* Office */
.our-offices {
  color: #002240;
  text-align: center;
  grid-row-gap: 2.3rem;
  background-image: url(../images/offices-bg.png);
  background-position: 0 7.5rem;
  background-repeat: no-repeat;
  background-size: cover;
}


.offices-title {
  padding: 0;
}

.office-desc {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  width: 17rem;
  height: 12.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5rem;
  margin: auto;
}


.our-investors {
  color: #002240;
  text-align: center;
  grid-row-gap: 2.5rem;
  /* margin-bottom: 5rem; */
  background: linear-gradient(to bottom, 
  #fff5f5 25%, white 0% 100%);
  background-image: url(../images/blue-bg.png), url(../images/yellow-bg.png), url(../images/investors-bg.png);
  background-repeat: no-repeat;
  background-size: auto, 30%, contain;
  background-position: 100% 7.4rem, 0rem 10rem, 0 0;
}

.investors-title {
  margin-top: calc(1.5rem);
  padding-bottom: 0;
}

.investor {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  width: 17rem;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.future {
  text-align: center;
  width: 100%;
  height: 23.6rem;
  background: #329DFA;
  border-radius: 5px;
  margin: auto;
  margin-top: 1.6rem;
  color: #FFFFFF;
  align-items: center;
  align-content: center;
  justify-items: center;
  grid-template-rows: 1fr 1fr;
  background: url(../images/Vector\ 19\ \(1\).png)

}



/* .future::before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    top: 0;
    transform: skewY(10deg);
    transform-origin: 100% 0;
  } */

}

.future-title {
  align-self: center;
  padding-top: 10rem;
}

.future-btns {
  /* align-self: center; */
  display: flex;
  flex-direction: column;
  margin-bottom: 1.875rem;
}

.future-btns button {
  width: 17rem;
  height: 3.1rem;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  /* padding: 1rem; */
}

.future .white-btn {
  margin-bottom: 1.875rem;
}

/* BOTTOM NAV */
.bottom-nav {
  grid-template-columns: 0.8fr 1fr;
  grid-template-areas: 
    "logo logo"
    "why-saleswhale product"
    "company contact";
  grid-column-gap: 1.3rem;
  grid-row-gap: 1.75rem;
  font-size: 1rem;
}

.bottom-nav ul {
  list-style-type: none;
}

.bottom-nav li {
  margin: 1rem 0;
}

.bottom-nav a {
  text-decoration: none;
  color: #002240;
}

.bottom-nav a:hover {
  color: #0688FA;
}

.bottom-nav .logo {
  grid-area: logo;

}

.why-saleswhale {
  grid-area: why-saleswhale;
}

.product {
  grid-area: product
}

.company {
  grid-area: company;
}

.contact {
  grid-area: contact;
}

.contact h4 {
  margin: 1rem 0;
}

.contact h5 {
  margin-top: 0.5rem;
}

/* FOOTER */
footer {
  text-align: center;
  background: #F4F4F4;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "social"
  "privacy"
  "terms"
  "c-right"
  "bottom-deco";
  grid-row-gap: 2.44rem;
  margin: 0 -1.6rem;
  padding-bottom: 0;
}

.footer {
  padding: 0;
  padding-top: 1.6rem;
}

.social-media {
  grid-area: social;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
}

.privacy {
  grid-area: privacy;
}

.terms {
  grid-area: terms;
}

.copyright {
  grid-area: c-right;
  font-size: 0.875rem;
  align-self: center;
}

.bottom-deco {
  grid-area: bottom-deco;
  background: #F4F4F4;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: "all";
  align-items: end;
  width: 100%;
}

.ellipse, .vector-3, .vector-4 {
  grid-area: all;
  object-fit: contain;
  width: 100%;
}

.ellipse {
  width: 60%;
  height: 60%;
  margin: 0 auto;
}

.vector-3 {
  z-index: 2;
}

/* PROGRESS */

.timeline {
  background: #EFF8FF;
  margin: 0 -1.5rem;
  overflow: hidden;
}

.progress-title {
  text-align: center;
  padding-bottom: 1.1875rem;
}

.progress-step {
  display: grid;
  grid-column-gap: 1.125rem;
  grid-template-columns: 1fr auto 5fr;
  grid-template-areas: "date envelope info";
  margin: 4.8125rem 0;
  padding: 0 1.5rem;
  position: relative;
  align-items: start;
}

.date {
  grid-area: date;
  color: #0688FA;
  font-weight: bold;
}

.envelope {
  grid-area: envelope;
  position: relative;
  z-index: 2;
  background: #EFF8FF;
  background: #FFFFFF;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 1.5rem;
  background-image: url(../images/mail.png), url(../images/mail.png), url(../images/mail.png);
  background-position:50% 40%, 60% 40%, 40% 40%;
  background-repeat: no-repeat;
  background-size: 60%, 60%, 60%;
  transform: rotateX(10deg);
  transform: rotateY(-10deg);
}

.border, .envelope img {
  grid-area: envelope;
}

.border {
  border-right: 3px solid #0688FA;
  height: calc(99% + 4.8125rem);
  left: 1.5rem;
  position: absolute;
  top: 1rem;
  z-index: 1;
}

.info {
  grid-area: info;
  font-weight: 600;
  color: #002240;
  line-height: 1.5rem;
}

.first-date, .first-envelope, .first-info {
  visibility: hidden;
}

.first-progress {
  margin-top: 0;
}

.first-border {
  height: calc(85% + 4.8125rem) ;
}


                            /* TABLET */
@media (min-width: 768px) {
  header {
    padding: 3rem;
  }

  .intro-section {
    padding: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.5rem;
    grid-template-areas: 
      "hero-img hero-img"
      "title body";
  }

  .hero-img {
    grid-area: hero-img;
  }

  .intro-title {
    /* font-size: 32px; */
    grid-area: title;
  }

  .intro-body {
    grid-area: body;
  }


  /* Culture */
  .our-culture {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "culture-title culture-title culture-title"
    "tile-1 tile-2 tile-3"
    "culture-footer culture-footer culture-footer";
    grid-column-gap: 1.5rem;
    padding: 3rem;
  }

  .culture-title {
    grid-area: culture-title;
    margin: auto;
    text-align: center;
    width: 65%;
  }

  .our-culture .tile-1 {
    grid-area: tile-1;
  }

  .our-culture .tile-2 {
    grid-area: tile-2;
  }

  .our-culture .tile-3 {
    grid-area: tile-3;
  }

  .culture-footer {
    grid-area: culture-footer;
    width: 65%;
    margin: auto;
    text-align: center;
  }

  .join-btn {
    width: 10.4rem;
    height: 2.6rem;
  }

  /* Offices */
  .our-offices {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "title title"
      "office-1 office-2"
    ;
    padding: 3rem;
  }

  .offices-title {
    grid-area: title;
    margin: auto;
  }

  .office-tile-1 {
    grid-area: office-1;
    margin:auto
  }

  .office-tile-2 {
    grid-area: office-2;
    margin: auto;
  }

  /* Investors */
  .our-investors {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "title title"
      "investor-1 investor-2"
      "investor-3 investor-4";
    text-align: center;
  }

  .investors-title {
    grid-area: title;
    margin: auto;
  }

  .investor-1 {
    grid-area: investor-1;
  }

  .investor-2 {
    grid-area: investor-2;
  }

  .investor-3 {
    grid-area: investor-3;
  }

  .investor-4 {
    grid-area: investor-4;
  }

  /* FUTURE */
  .future {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title title"
      "btn-1 btn-2";
    width: 45.25rem;
    height: 13.4rem;
  }

  .future-title {
    grid-area: title;
  }

  .white-btn {
    grid-area: btn-1;
  }

  .blue-btn {
    grid-area: btn-2;
  }

  /* BOTTOOM NAV */

  .bottom-nav {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
     "logo why-saleswhale product"
     "logo company contact";
  }

  /* FOOTER */
  footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      "privacy terms social"
      "c-right c-right c-right";
  }
}



                                /* DESKTOP */
@media (min-width: 1440px) {
  header {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "brand nav";
    padding: 5rem;
  }

  .brand-images {
    grid-area: brand
  }

  nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
  }

  nav ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 48%;
  }

  nav li{
    display: inline-block;
  }

  nav li a {
    color: #002240;
    text-decoration: none;
  }
/* Remember to harmonize CSS for buttons */

  .intro-section {
    padding: 5rem;
  }

  .bottom-nav {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo why-saleswhale product company contact";
  }
}
